<div class="container">
  <router-outlet></router-outlet>
<!--
<app-add-cliente></app-add-cliente>
<app-nav></app-nav>
<router-outlet></router-outlet>

<app-cliente-list></app-cliente-list>
<app-cliente-add></app-cliente-add>
<app-marcador></app-marcador>

<app-en-linea></app-en-linea>
<app-padre></app-padre>
<app-directiva-ng-style></app-directiva-ng-style>
<app-directiva-ng-class></app-directiva-ng-class>
<app-directiva-ng-for></app-directiva-ng-for>
<app-directiva-ng-switch></app-directiva-ng-switch>
<app-directiva-ng-if></app-directiva-ng-if>
<app-pipes></app-pipes>
<app-one-way-binding></app-one-way-binding>
<app-two-way-binding></app-two-way-binding>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<app-interpolacion></app-interpolacion> -->
</div>
